
//- Helper to inject data into <HEAD>
//- takes info from env.response.data.head

//- http://validator.w3.org  recommendation
meta(charset='UTF-8')

//- defaults for mobile devices, from twitter bootstrap.
meta(name="viewport", content="width=device-width, initial-scale=1.0")

- if (self.head)
  - if (self.head.title)
    title #{self.head.title}
  //- description
  - if (self.head.desc)
    meta(name='description', content=self.head.desc)
  //- keywords
  - if (self.head.keywords)
    meta(name='description', content=self.head.keywords)

meta(name="csrf-param", content=JSON.stringify(self.runtime))
