div#content
  != self.partial('@admin.core.blocks.sidebar_menu', { menu: self.menus.admin })

  div.main
    != self.partial('@admin.core.blocks.breadcrumbs', { menu: self.menus.admin, path: self.blocks.breadcrumbs });

    h1= self.head.title

    - self.add_raw_data('setting_schemas', self.setting_schemas);
    - self.add_raw_data('setting_values',  self.setting_values);

    form.form-horizontal(data-bind="submit: $root.saveChanges", style="display: none")
      div(data-bind="foreach: categoryKeys")
        fieldset
          legend(data-bind="text: $root.categoryNames[$data]")

          div(data-bind="foreach: $root.categorySettings[$data]")
            div.control-group
              label.control-label(data-bind="text: localizedName, attr: { 'for': id }")
              div.controls
                // ko if: 'string' === type
                input(type="text", data-bind="value: userValue, valueUpdate: 'keyup', attr: { id: id }")
                span.help-block(data-bind="if: localizedHelp, text: localizedHelp")
                // /ko

                // ko if: 'number' === type
                input(type="number", data-bind="value: userValue, valueUpdate: 'keyup', attr: { id: id }")
                span.help-block(data-bind="if: localizedHelp, text: localizedHelp")
                // /ko

                // ko if: 'boolean' === type
                input(type="checkbox", data-bind="checked: userValue, attr: { id: id }")
                span.help-block(data-bind="if: localizedHelp, text: localizedHelp")
                // /ko

      div
        button.btn.btn-primary(type="submit", data-bind="enable: $root.isModified")= self.t('save')
