@charset "UTF-8";

 
.icon-ref-local:before { content: '\2191'; } /* '↑' */
.icon-ref-outer:before { content: '\2192'; } /* '→' */
.icon-collapse:before { content: '\25b4'; } /* '▴' */
.icon-expand:before { content: '\25be'; } /* '▾' */
.icon-edit:before { content: '\270e'; } /* '✎' */
.icon-check:before { content: '\2713'; } /* '✓' */
.icon-track-muted:before { content: '\2716'; } /* '✖' */
.icon-reply-for:before { content: '\27a6'; } /* '➦' */
.icon-replies:before { content: '\e005'; } /* '' */
.icon-more:before { content: '\e4b0'; } /* '' */
.icon-info:before { content: '\e705'; } /* '' */
.icon-views:before { content: '\e70a'; } /* '' */
.icon-threads:before { content: '\e736'; } /* '' */
.icon-level-up:before { content: '\e75d'; } /* '' */
.icon-dropdown:before { content: '\e78d'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-attach:before { content: '\e802'; } /* '' */
.icon-closed:before { content: '\e803'; } /* '' */
.icon-report:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-reply:before { content: '\e806'; } /* '' */
.icon-vote-up:before { content: '\e807'; } /* '' */
.icon-to-top:before { content: '\e808'; } /* '' */
.icon-to-bottom:before { content: '\e809'; } /* '' */
.icon-expand-alt:before { content: '\e80a'; } /* '' */
.icon-collapse-alt:before { content: '\e80b'; } /* '' */
.icon-vote-down:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-mail:before { content: '\e80e'; } /* '' */
.icon-github:before { content: '\e80f'; } /* '' */
.icon-vkontakte:before { content: '\e811'; } /* '' */
.icon-gplus:before { content: '\e812'; } /* '' */
.icon-video:before { content: '\e813'; } /* '' */
.icon-twitter:before { content: '\e814'; } /* '' */
.icon-yandex:before { content: '\e815'; } /* '' */
.icon-binary:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-plus:before { content: '\e818'; } /* '' */
.icon-right-open:before { content: '\e819'; } /* '' */
.icon-cancel:before { content: '\e81a'; } /* '' */
.icon-track-tracking:before { content: '\e81b'; } /* '' */
.icon-list-bullet:before { content: '\e81c'; } /* '' */
.icon-list-numbered:before { content: '\e81d'; } /* '' */
.icon-quote:before { content: '\e81e'; } /* '' */
.icon-bold:before { content: '\e81f'; } /* '' */
.icon-italic:before { content: '\e820'; } /* '' */
.icon-header:before { content: '\e821'; } /* '' */
.icon-trash:before { content: '\e822'; } /* '' */
.icon-help:before { content: '\e823'; } /* '' */
.icon-picture:before { content: '\e824'; } /* '' */
.icon-comment:before { content: '\e825'; } /* '' */
.icon-pin:before { content: '\e826'; } /* '' */
.icon-deleted:before { content: '\e828'; } /* '' */
.icon-bookmark:before { content: '\e829'; } /* '' */
.icon-bookmark-empty:before { content: '\e82a'; } /* '' */
.icon-track-normal:before { content: '\e82b'; } /* '' */
.icon-track-watching:before { content: '\e82c'; } /* '' */
.icon-emoji:before { content: '\f118'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-posts:before { content: '📄'; } /* '\1f4c4' */
.icon-link:before { content: '🔗'; } /* '\1f517' */
.icon-infraction:before { content: '🔨'; } /* '\1f528' */