@charset "UTF-8";

 
.icon-edit:before { content: '\270e'; } /* '✎' */
.icon-track-muted:before { content: '\2716'; } /* '✖' */
.icon-more:before { content: '\e4b0'; } /* '' */
.icon-info:before { content: '\e705'; } /* '' */
.icon-level-up:before { content: '\e75d'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-ref-outer:before { content: '\e801'; } /* '' */
.icon-attach:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-to-top:before { content: '\e808'; } /* '' */
.icon-to-bottom:before { content: '\e809'; } /* '' */
.icon-expand-alt:before { content: '\e80a'; } /* '' */
.icon-collapse-alt:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-mail:before { content: '\e80e'; } /* '' */
.icon-github:before { content: '\e80f'; } /* '' */
.icon-ref-local:before { content: '\e810'; } /* '' */
.icon-vkontakte:before { content: '\e811'; } /* '' */
.icon-gplus:before { content: '\e812'; } /* '' */
.icon-video:before { content: '\e813'; } /* '' */
.icon-twitter:before { content: '\e814'; } /* '' */
.icon-yandex:before { content: '\e815'; } /* '' */
.icon-binary:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-right-open:before { content: '\e819'; } /* '' */
.icon-ignore:before { content: '\e81a'; } /* '' */
.icon-track-tracking:before { content: '\e81b'; } /* '' */
.icon-list-bullet:before { content: '\e81c'; } /* '' */
.icon-list-numbered:before { content: '\e81d'; } /* '' */
.icon-quote:before { content: '\e81e'; } /* '' */
.icon-bold:before { content: '\e81f'; } /* '' */
.icon-italic:before { content: '\e820'; } /* '' */
.icon-header:before { content: '\e821'; } /* '' */
.icon-help:before { content: '\e823'; } /* '' */
.icon-picture:before { content: '\e824'; } /* '' */
.icon-comment:before { content: '\e825'; } /* '' */
.icon-report:before { content: '\e827'; } /* '' */
.icon-vote-up:before { content: '\e829'; } /* '' */
.icon-track-normal:before { content: '\e82b'; } /* '' */
.icon-track-watching:before { content: '\e82c'; } /* '' */
.icon-closed:before { content: '\e82d'; } /* '' */
.icon-views:before { content: '\e82e'; } /* '' */
.icon-pin:before { content: '\e82f'; } /* '' */
.icon-plus:before { content: '\e830'; } /* '' */
.icon-posts:before { content: '\e831'; } /* '' */
.icon-replies:before { content: '\e832'; } /* '' */
.icon-reply:before { content: '\e833'; } /* '' */
.icon-reply-for:before { content: '\e834'; } /* '' */
.icon-bookmark:before { content: '\e835'; } /* '' */
.icon-vote-down:before { content: '\e836'; } /* '' */
.icon-expand:before { content: '\e837'; } /* '' */
.icon-collapse:before { content: '\e838'; } /* '' */
.icon-x:before { content: '\e839'; } /* '' */
.icon-dropdown:before { content: '\e83a'; } /* '' */
.icon-check:before { content: '\e83b'; } /* '' */
.icon-threads:before { content: '\e83c'; } /* '' */
.icon-arrow-subsections:before { content: '\e83d'; } /* '' */
.icon-emoji:before { content: '\f118'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-link:before { content: '🔗'; } /* '\1f517' */
.icon-infraction:before { content: '🔨'; } /* '\1f528' */
.icon-clock:before { content: '🕔'; } /* '\1f554' */