
- var localizationPrefix = '@admin.menus.navbar.';

- function fetchBreadcrumbs(menu, fullName, result) {
-   if (!result) { result = []; }
-   if (!fullName) { fullName = ''; }
-   for (var key in menu) {
-     if (!menu[key]) { continue; }
-     if (self.apiPath.indexOf(fullName + key) > -1) {
-       result.push({ name: key, info: menu[key], fullName: fullName + key });
-       if (menu[key].submenu) {
-         result = fetchBreadcrumbs(menu[key].submenu, fullName + key + '.', result);
-       }
-       return result;
-     }
-   }
- }

- var breadcrumbs = fetchBreadcrumbs(self.runtime.navbar);

ul.breadcrumbs
  if breadcrumbs
    each item in breadcrumbs
      li.breadcrumbs__item
        if item.info.to !== self.apiPath
          a.breadcrumbs__link(href=self.link_to(item.info.to))= self.t(localizationPrefix + item.fullName)
        else
          = self.t(localizationPrefix + item.fullName)
