/*
// inline-block shim for IE7
//
display(type)
  if inline-block == type
    display: inline-block
    *display: inline
    *zoom: 1
  else
    display: type
*/



black           = #000
grayDarker      = #222
grayDark        = #444
gray            = #666
grayLight       = #999
grayLighter     = #ccc
grayLightest    = #eee
white           = #fff

// Accent colors
// -------------------------
blue            = #049cdb
blueDark        = #0064cd
green           = #46a546
red             = #9d261d
yellow          = #ffc40d
orange          = #f89406
pink            = #c3325f
purple          = #7a43b6


baseFontSize    = 14px
baseLineHeight  = 20px

colorUnread     = #c66

// Font stacks
// http://www.xiper.net/collect/html-and-css-tricks/typographics/safe-fonts-part3.html
// http://www.ampsoft.net/webdesign-l/WindowsMacFonts.html
// http://cssfontstack.com/

sansFontFamily  = "Helvetica Neue", "Helvetica CY", Arial, sans-serif;
sansWideFontFamily  = Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
serifFontFamily = Georgia, "Times New Roman", "Times CY", serif;
monoFontFamily  = Monaco, Consolas, "Lucida Console", monospace;

//navbarText      = #bbb
//navbarLinkColor = #bbb

linkColor       = #679
linkColorHover  = #036


btnDangerBackground             = #ee5f5b;
btnDangerBackgroundHighlight    = #bd362f;

btnInverseBackground            = #444;
btnInverseBackgroundHighlight   = grayDarker;

row-hover       = #f5f5f5