@import "./_bootstrap"

//
// Additional vars (not from bootstrap)
//
$brand-primary = #0275d8
$brand-success = #5cb85c
$brand-danger  = #d9534f

$body-color-secondary = #aeb9bf
$body-bg-secondary    = #f8f8f8

////////////////////////////////////////////////////////////////////////////////
// Helpers

shortable()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
