@import "./_bootstrap"

//
// Additional vars (not from bootstrap)
//
$brand-primary = #0275d8
$brand-success = #5cb85c
$brand-danger  = #d9534f

////////////////////////////////////////////////////////////////////////////////
// Helpers

shortable()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
