
.icon-vote-up:before { content: '\2191'; } /* '↑' */
.icon-vote-down:before { content: '\2193'; } /* '↓' */
.icon-collapse:before { content: '\25b4'; } /* '▴' */
.icon-expand:before { content: '\25be'; } /* '▾' */
.icon-options:before { content: '\2699'; } /* '⚙' */
.icon-edit:before { content: '\270e'; } /* '✎' */
.icon-check:before { content: '\2713'; } /* '✓' */
.icon-more:before { content: '\e4b0'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-attach:before { content: '\e802'; } /* '' */
.icon-closed:before { content: '\e803'; } /* '' */
.icon-track:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-reply:before { content: '\e806'; } /* '' */
.icon-link:before { content: '\e807'; } /* '' */
.icon-scroll-up:before { content: '\e808'; } /* '' */
.icon-scroll-down:before { content: '\e809'; } /* '' */
.icon-login:before { content: '\e80a'; } /* '' */
.icon-logout:before { content: '\e80b'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-tools:before { content: '\e80e'; } /* '' */
.icon-nav-horiz:before { content: '\e80f'; } /* '' */
.icon-nav-vert:before { content: '\e810'; } /* '' */
.icon-vkontakte:before { content: '\e811'; } /* '' */
.icon-gplus:before { content: '\e812'; } /* '' */
.icon-video:before { content: '\e813'; } /* '' */
.icon-twitter:before { content: '\e814'; } /* '' */
.icon-yandex:before { content: '\e815'; } /* '' */
.icon-binary:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-plus:before { content: '\e818'; } /* '' */
.icon-right-open:before { content: '\e819'; } /* '' */
.icon-cancel:before { content: '\e81a'; } /* '' */
.icon-refresh:before { content: '\e81b'; } /* '' */
.icon-list-bullet:before { content: '\e81c'; } /* '' */
.icon-list-numbered:before { content: '\e81d'; } /* '' */
.icon-quote:before { content: '\e81e'; } /* '' */
.icon-bold:before { content: '\e81f'; } /* '' */
.icon-italic:before { content: '\e820'; } /* '' */
.icon-header:before { content: '\e821'; } /* '' */
.icon-trash:before { content: '\e822'; } /* '' */
.icon-help:before { content: '\e823'; } /* '' */
.icon-picture:before { content: '\e824'; } /* '' */
.icon-comment:before { content: '\e825'; } /* '' */
.icon-pin:before { content: '\e826'; } /* '' */
.icon-announce:before { content: '\e827'; } /* '' */
.icon-deleted:before { content: '\e828'; } /* '' */
.icon-bookmark:before { content: '\e829'; } /* '' */
.icon-bookmark-empty:before { content: '\e82a'; } /* '' */