#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      h1.page-head__title= self.head.title

    p
      span.ping-ticker
      |  heartbeat

    p.dashboard-offline-toggle(
      class=self.offline_mode ? 'dashboard-offline-toggle__m-offline' : ''
    )
      button.dashboard-offline-toggle__on.btn.btn-sm.btn-light(
        data-on-click='admin.core.dashboard:turn_online'
      )= self.t('turn_online')
      button.dashboard-offline-toggle__off.btn.btn-sm.btn-danger(
        data-on-click='admin.core.dashboard:turn_offline'
      )= self.t('turn_offline')
