@import "nib"
@import "nodeca.core/lib/client/variables"

.av-s
  border-radius 2px
  height 30px
  width 30px
.av-m
  border-radius 3px
  height 50px
  width 50px
.av-ml
  border-radius: 3px
  height 70px
  width 70px
.av-l
  border-radius 3px
  height 100px
  width 100px
.av-xl
  border-radius 4px
  height 150px
  width: 150px
.av-xxl
  border-radius: 3px
  box-shadow 0 0 1px grayDark
  height: 200px
  width: 200px
