!!!
html
  head
    title Nodeca rulez!
  body
    #menu
      ul
        - each item in menus.common.topnav
          li: a(href=item.link)= t(item.title)
    #contents!= content

  // TODO: replace with helpers?
  script(src='/socket.io/socket.io.js')
  script(src="/assets/system/common/api.js")
  script(src="/assets/system/forum/api.js")
  script(src="/assets/system/blogs/api.js")

  script
    // TODO: Replace with bundled kickstarter
    nodeca.runtime = {version: 'preview'};
    (function (sio) {
      nodeca.runtime.rpc = function (name, params, callback) {
        var msg = {
          version:  nodeca.runtime.version,
          method:   name,
          params:   params
        };

        sio.emit('server', msg, function (res) {
          if (res.version !== nodeca.runtime.version) {
            // TODO: implement software upgrade here
            console.alert('nodeca server version mismatch');
            return;
          }

          (callback || $.noop)(res.err, res.result);
        });
      };
    }(io.connect()));
