!!! 5
html
  head
    title Loading...
    script(type="text/javascript")!= asset_include('modernizr.custom.js')
    script(type="text/javascript")!= loader_config
    script(type="text/javascript")!= asset_include('nodeca_minimal.js')
  body
    h1 Loading...
