@import "nib"
@import "nodeca.core/client/lib/_variables"

.breadcrumbs
  white-space nowrap
  margin 0 0 (baseLineHeight/2)
  overflow hidden
  text-overflow ellipsis

.breadcrumb-link
  color grayLight
  position relative
  margin-right 1.2em
  &:after
    position absolute
    content '/' 
    color grayLighter
    right -0.8em
