@import "nodeca.core/client/common/_variables"


.breadcrumbs
  white-space nowrap
  margin 0 0 (baseLineHeight/2)
  overflow hidden
  text-overflow ellipsis
  font-size 16px
  list-style none
  padding 0
  line-height baseLineHeight*1.5
  display inline-block

.breadcrumbs__item
  display inline-block
  padding-right .3em
  &:after
    content ' /'
    color grayLighter
    margin 0 5px

.breadcrumbs__link
  color grayLight
