@import "nodeca.core/client/common/_variables"

.breadcrumbs-container
  font-size $font-size-sm
  height $breadcrumbs-height
  line-height $breadcrumbs-height
  background-color $breadcrumbs-bg
  margin-bottom 1.5rem

.breadcrumbs-controls
  display inline-block
  overflow hidden
  line-height 2rem
  vertical-align top

  .btn + .btn
    margin-left .3rem

.breadcrumbs
  margin 0
  max-width 100%
  white-space nowrap
  overflow hidden
  list-style none
  padding 0
  display inline-block

.breadcrumbs__item
  color $breadcrumbs-color
  display inline-block
  &:before
    content '/'
    color $breadcrumbs-color
    margin 0 .6em 0 .5em

  &:first-child:before
    content ''
    margin 0

  &:last-child:after
    content '/'
    color $breadcrumbs-color
    margin 0 .6em 0 .5em

.breadcrumbs__m-nolink
  &:last-child:after
    content unset

.breadcrumbs__link
  color $breadcrumbs-color
  text-decoration none
  line-height $breadcrumbs-height

// Collapse list midle elements on narrow screens
//
@media (max-width: $grid-breakpoints.sm - 1)
  .breadcrumbs__item
    display none
    &:first-child
    &:last-child
      display inline-block

  .breadcrumbs__item + .breadcrumbs__item + .breadcrumbs__item:last-child
    display inline-block
    &:before
      content '/ ... /'
