@import "nib"
@import "../variables"

.vote-up
  margin-left 0
  margin-right .1em
  color #080
  &:before
    font-size 100%
  	margin-right 0
    margin-left 0
  &:hover
    color #4c4

.vote-down
  margin-left .1em
  margin-right 0
  color #c00
  &:before
    font-size 100%
    margin-right 0
    margin-left 0
  &:hover
    color #f44

.vote-up, .vote-down
  transition all 0.2s ease
  text-shadow 1px 1px 1px rgba(127, 127, 127, 0.3)
  &:hover
    text-decoration none
    text-shadow 0px 0px 10px rgba(127, 127, 127, 0.8)

