@import "codemirror/lib/codemirror.css"
@import "nodeca.core/client/common/_variables"

.mdedit
  min-height 200px
  height 300px
  position fixed
  // height and shadow size
  bottom -320px
  left 0px
  right 0px
  padding .75rem 1rem .375rem
  background-color $editor-bg
  box-shadow 0 0 1rem $editor-bg
  display flex
  flex-direction column
  z-index 1040

  .CodeMirror
    // height before init to avoid bugs in FF with real size calc
    height 1px
    font-size $font-size-sm

.mdedit__resizer
  cursor row-resize
  position absolute
  top -6px
  left 50%
  margin-left -1.5rem
  width 3rem
  height 21px

  &:before
  &:after
    content ' '
    width 100%
    height 1px
    background-color $editor-bg - 20%
    position absolute
    top 9px
  &:after
    top 11px

.mdedit-header__caption
  line-height 1em
  margin-right 2rem
  margin-bottom .375rem
  shortable()

.mdedit-header__addon
  margin-bottom .375rem

.mdedit__body
  display flex
  flex-direction row
  flex 2
  overflow hidden
  margin-bottom .375rem

.mdedit__editor
  display flex
  flex-direction column
  flex 2
  flex-basis 50%
  background-color #fff
  border 1px solid $input-border-color
  border-radius 4px
  overflow hidden

.mdedit__edit-area
  flex 2
  flex-basis 50%
  border-radius 0 0 4px 4px
  overflow hidden

.mdedit-attachments
  flex-basis 90px
  overflow-y auto
  list-style none
  padding 0
  margin 0 0 0 .375rem

.mdedit-attachments__item
  position relative
  width 100%
  margin 0 0 .375rem 0
  &:last-child
    margin-bottom 0

.mdedit-attachments__item-link
  display block
  text-align center

.mdedit-attachments__item-image
  max-width 100%
  border-radius 2px
  max-height 90px

.mdedit-attachments__item-content
  height 67px
  line-height 67px
  border-radius 2px
  background-color $editor-bg + 70%
  padding 0 .375rem
  text-align center
  shortable()

.mdedit__preview
  flex 2
  flex-basis 50%
  border 1px dashed $input-border-color
  padding .5rem
  border-radius 4px
  background-color #fff
  overflow-y: auto
  margin-left 5px

  .quote__author-avatar
    background-color $decorator-color

.mdedit.mdedit__m-no-attachments
  .mdedit-attachments
    display none

.mdedit.mdedit__m-active
  border 1px dashed $input-border-color

.mdedit-attachments__item-remove
  position absolute
  top .125rem
  right .125rem
  opacity .7
  transition opacity .2s ease

.mdedit__toolbar
  padding .375rem
  border-bottom 1px solid ($input-border-color + 70%)
  overflow-x auto
  white-space nowrap

.mdedit-toolbar__item
  text-align center
  display inline-block
  vertical-align middle
  cursor pointer
  width 1.7em
  height 1.5em
  line-height 1.5em
  border none
  background none
  padding 0
  border-radius 4px
  color $body-color + 25%
  transition .2s ease
  &:hover
    background-color $body-bg-secondary
    color $body-color

    .mdedit-attachments__item-remove
      opacity 1

.mdedit-toolbar__sep
  width 1px
  height 1.2em
  background $input-border-color + 70%
  cursor auto
  margin 0 .4em

.mdedit__collapser
  position absolute
  top 0
  right 0px
  width 2rem
  height 2rem
  line-height 2rem
  text-align center
  cursor pointer

.mdedit__collapser .icon-collapse
  display none

.mdedit.mdedit__m-collapsed
  height 30px !important;
  .mdedit__resizer
  .mdedit__body
  .mdedit-footer
  .mdedit-header__addon
    display none
  .mdedit__collapser
    .icon-expand
      display none
    .icon-collapse
      display block

// Avoid lags
.mdedit.mdedit__m-resizing
  transition none


// Compensate visual distance between filled and link-like buttons
.mdedit-btn__cancel
  margin-left 1.4rem !important


//
// Responsiveness
//
.mdedit-btn__preview
  display none

@media (max-width: $grid-breakpoints.md - 1)
  // Hide preview by default on narrow screen
  .mdedit__preview
    display none
    border 1px dashed rgba(0, 0, 0, .3)
  .mdedit-btn__preview
    display inline-block

  // Show if preview mode activated
  .mdedit__m-preview_mode
    .mdedit__preview
      display block
      margin 0
    .mdedit__editor
    .mdedit-attachments
      display none
