.mdedit(data-on-dragdrop='core.mdedit:dd_' + self.editorId).no-attachments
  .mdedit__inner
    .mdedit-toolbar
    .mdedit__edit-area
  .mdedit__resizer

  .mdedit__help!= self.t('drop_help')
  .mdedit__attachments
