.mdedit__toolbar
  margin-bottom 10px

.mdedit-toolbar__item
  width 20px
  height 20px
  border 1px solid #000000
  text-align center
  display inline-block
  margin-right 10px
  cursor pointer
  overflow hidden

.mdedit-toolbar__bold
  &:before
    content 'B'
  font-weight bold


.mdedit-toolbar__italic
  &:before
    content 'I'
  font-style italic

.mdedit-toolbar__sep
  width 2px
  border none
  background gray
  cursor auto

.mdedit-toolbar__quote
  &:before
    content '»'

.mdedit-toolbar__spoiler
  &:before
    content 'SP'

.mdedit-toolbar__ol
  &:before
    content 'OL'

.mdedit-toolbar__ul
  &:before
    content 'UL'

.mdedit-toolbar__header
  &:before
    content 'H'

.mdedit-toolbar__cut
  &:before
    content 'C'

.mdedit-toolbar__help
  &:before
    content '?'
