// Toolbar with buttons

@import "nodeca.core/client/common/_variables"

// Container to preserve space, when controlbar become float
.controlbar-keeper
  height: 52px


.controlbar
  padding 10px 15px 10px
  background-color #fbfbfb
  border-radius 4px
  border 1px solid #eee
  border 1px solid rgba(0,0,0,.05)
  box-shadow 0 0px 2px rgba(0,0,0,.05)
  color grayLight
  margin-top 0
  margin-bottom 0

//
// floating container
//
.floatbar-fixed
  position: fixed
  top 0
  left 0
  right 0
  z-index 1000

  background-color #fbfbfb
  border-bottom 1px solid grayLighter
  border-bottom 1px solid rgba(0,0,0,.25)
  box-shadow 0 2px 2px rgba(0,0,0,.15)
  padding 0 20px

  // floating state modificator
  .controlbar
    border 0 none
    box-shadow none
    padding-left 0
    padding-right 0


@media (max-width: 480px)
  .controlbar
    border 0 none
    padding-left 0
    padding-right 0
    background-color transparent
    box-shadow none
