/**

 *= require bootstrap/bootstrap_admin
 *= require bootstrap/bootstrap-responsive
 *= require fontello/icons

 *= require_self

 **/

@import 'nib'
@import '../common/variables.styl'

//@import '../common/bootstrap_override.styl'

@import '../common/lib/nojs.styl'
@import '../common/lib/notifications.styl'
//@import '../common/lib/breadcrumbs.styl'

body
  margin-top 60px