@import "nib"
@import "../../../client/common/_variables"


body
  padding-top 60px

//
// Simple 2-columns layout
//
.main
  margin-left 210px
.sidebar-nav
  width 180px

// Sidebar
//
.sidebar-nav
  position fixed
  top 60px

  padding 10px 0

  .nav-list
    // active state
    & > .nav-header._active
    & > ._active > a
      background-color darken(white, 1%)

    // adjust left offset
    & > li > a
      padding-left 20px

//
// Overrides
//

// form help-texts tweak (smaller & lighter)
//
.form-horizontal .help-block
  color grayLight
  font-size 90%
  margin-top 5px

// fix for links without href (with JS handlers)
//
a
  cursor pointer
