nav.navbar-alt.navbar.navbar-dark.bg-primary.fixed-top.navbar-expand-md
  .navbar-inner.layout__container.container-fluid
    .navbar-nav
      a.navbar__level-up.nav-link.icon.icon-level-up(href=self.level_up)

    .navbar-text.navbar__title.d-none.d-sm-block.d-md-none
      if self.title
        = self.title
      else if self.title_html
        != self.title_html

    .navbar__right-burger
      if self.toolbar
        != self.partial('@' + self.toolbar)

      button.navbar-toggler.navbar-toggler-right.icon.icon-menu(
        type='button'
        data-on-click='common.blocks.navbar:toggle_menu'
      )

    .navbar-collapse.collapse
      .navbar__hover-swap-container
        .navbar__hover-hide.navbar-text.navbar__title
          if self.title
            = self.title
          else if self.title_html
            != self.title_html

        ul.navbar__hover-show.navbar-nav
          != self.partial('@common.blocks.navbar.blocks.apps')

      .navbar__right.navbar-nav
        if self.toolbar
          != self.partial('@' + self.toolbar)

        //- NOTE: This block is located in `nodeca.users`
        != self.partial('@common.blocks.navbar_auth')
