nav.navbar-alt.navbar.navbar-dark.bg-primary.fixed-top.navbar-untoggleable
  .navbar-inner.container.layout__container.container-fluid
    != self.partial('@common.blocks.navbar.blocks.page_progress', self.progress)

    .navbar-alt__title.navbar-text.d-none.d-sm-inline-block
      = self.title

    if self.toolbar
      != self.partial('@' + self.toolbar)
