nav.navbar-alt.navbar.navbar-inverse.bg-primary.fixed-top.navbar-untoggleable
  .navbar-inner.container.layout__container.container-fluid
    ul.navbar-nav
      li.nav-item
        a.navbar__level-up.nav-link.icon.icon-level-up(href=self.level_up)

    != self.partial('@common.blocks.navbar.blocks.page_progress', self.progress)

    .navbar-alt__title.navbar-text.hidden-xs-down
      = self.title

    if self.toolbar
      != self.partial('@' + self.toolbar)
