nav.navbar-alt.navbar.navbar-dark.bg-primary.fixed-top.navbar-expand
  .navbar-inner.layout__container.container-fluid
    .navbar-nav
      a.navbar__level-up.nav-link.icon.icon-level-up(href=self.level_up)

    .navbar-alt__title.navbar-text.mr-auto
      if self.title
        = self.title
      else if self.title_html
        != self.title_html

    ul.navbar-nav.navbar__right
      if self.toolbar
        != self.partial('@' + self.toolbar)

      //- NOTE: This block is located in `nodeca.users`
      != self.partial('@common.blocks.navbar_auth')
