nav.navbar-alt.navbar.navbar-dark.bg-primary.fixed-top.navbar-untoggleable
  .navbar-inner.container.layout__container.container-fluid
    ul.navbar-nav
      li.nav-item
        a.navbar__level-up.nav-link.icon.icon-level-up(href=self.level_up)

    .navbar-alt__title.navbar-text.mr-auto
      if self.title
        = self.title
      else if self.title_html
        != self.title_html

    if self.toolbar
      != self.partial('@' + self.toolbar)
