nav.navbar-primary.navbar.navbar-dark.bg-primary.fixed-top.navbar-expand-md
  .navbar-inner.layout__container.container-fluid
    ul.navbar-nav.navbar__m-hide-on-search
      li.nav-item
        a.navbar__level-up.nav-link.icon.icon-level-up(href=self.level_up)

    button.navbar-toggler.navbar-toggler-right.icon.icon-menu(
      data-bs-toggle='collapse',
      data-bs-target='.navbar-collapse',
      type='button'
    )

    .navbar-collapse.collapse
      ul.navbar-nav.navbar__m-hide-on-search
        != self.partial('@common.blocks.navbar.blocks.apps')

      ul.navbar-nav.navbar__right
        != self.partial('@common.blocks.navbar.search')

        //- NOTE: This block is located in `nodeca.users`
        != self.partial('@common.blocks.navbar_auth')
