nav.navbar-primary.navbar.navbar-dark.navbar-fixed-top.bg-primary
  .navbar-inner.layout__container.container-fluid
    .navbar-header
      ul.nav.navbar-nav
        li.nav-item
          a.navbar__level-up.nav-link.icon.icon-level-up(href=self.level_up)

      != self.partial('@common.blocks.navbar.blocks.page_progress', self.progress)

      button.icon.icon-menu.navbar-toggler(
        data-toggle='collapse',
        data-target='.navbar-collapse',
        type='button'
      )

    .navbar-collapse.collapse.navbar-toggleable
      ul.nav.navbar-nav.pull-xs-left
        != self.partial('@common.blocks.navbar.blocks.apps')

      ul.nav.navbar-nav.pull-xs-right
        li.nav-item
          a.nav-link.icon.icon-search(href='#')

        //- NOTE: This block is located in `nodeca.users`
        != self.partial('@common.blocks.navbar_auth')
