nav.navbar-primary.navbar.navbar-dark.bg-primary.fixed-top.navbar-expand-md
  .navbar-inner.container-fluid.layout__container
    a.navbar-brand.navbar__m-hide-on-search(href="/") Nodeca

    button.navbar-toggler.navbar-toggler-right.icon.icon-menu(
      type='button'
      data-on-click='common.blocks.navbar:toggle_menu'
    )

    .navbar-collapse.collapse
      ul.navbar-nav.navbar__m-hide-on-search.navbar__middle
        != self.partial('@common.blocks.navbar.blocks.apps')

      .navbar-nav.navbar__right
        != self.partial('@common.blocks.navbar.search')

        //- NOTE: This block is located in `nodeca.users`
        != self.partial('@common.blocks.navbar_auth')
