nav.navbar-primary.navbar.navbar-inverse.bg-primary.fixed-top.navbar-toggleable
  .navbar-inner.container.container-fluid.layout__container
    a.navbar-brand.navbar__m-hide-on-search(href="/") Nodeca

    button.navbar-toggler.navbar-toggler-right.icon.icon-menu(
      data-toggle='collapse',
      data-target='.navbar-collapse',
      type='button'
    )

    .navbar-collapse.collapse
      ul.navbar-nav.navbar__m-hide-on-search
        != self.partial('@common.blocks.navbar.blocks.apps')

      ul.navbar-nav.navbar__right
        != self.partial('@common.blocks.navbar.search')

        //- NOTE: This block is located in `nodeca.users`
        != self.partial('@common.blocks.navbar_auth')
