@import "nodeca.core/client/common/_variables"


.navbar
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.05)

.navbar-brand
  text-transform uppercase
  margin-right 2rem

.navbar__level-up
  display inline-block
  position relative
  padding 0 10px
  margin-left -10px
  height 50px
  line-height 50px
  vertical-align middle
  color $gray-light
  &:hover
  &:focus
    text-decoration none

.navbar-nav > .nav-item
  position relative

  // override bootstrap default margin
  & + .nav-item
    margin-left 2rem

.navbar-nav > .nav-item > a:after
.navbar__level-up:after
  position absolute
  left 0
  right 0
  bottom 0
  height 0.125rem
  content ''
  background-color lighten($brand-primary, 27%)
  opacity 0
  transition opacity .3s ease

.navbar-nav > .nav-item.active > a:after
.navbar-nav > .nav-item:hover > a:after
.navbar__level-up:hover:after
  opacity 1

.navbar-nav > .nav-item
  font-size $font-size-sm
  line-height 1.5rem


//
// Alternative navigation. Shown when `navbar__m-secondary` modifier added
//
.navbar-primary
  opacity 1
  transition opacity .5s ease

.navbar-alt
  position absolute;
  left 0
  right 0
  top -60px
  opacity 0
  transition opacity .5s ease, top 0s ease .5s

  .page-actions
    margin-top 8px
    margin-bottom 8px

.navbar__m-secondary
  .navbar-collapse
    display none  // hide expanded menu
  .navbar-primary
    opacity 0
  .navbar-alt
    opacity 1
    top 0px
    transition opacity .5s ease


.navbar-alt__title
  shortable()
  font-size 18px
  padding 12px 5px
