@import "nodeca.core/client/common/_variables"


.navbar
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.05)
  // We use .container-fluid inside, it has padding already
  padding-left 0
  padding-right 0

.navbar-inner
  width 100%
  // required for narrow screens
  padding-left ($grid-gutter-width / 2) !important
  padding-right ($grid-gutter-width / 2) !important

// TODO: remove after fixes in bootstrap
.navbar-nav .nav-link
  padding-top .425rem
  padding-bottom .425rem


// Override toggler style
.navbar-dark .navbar-toggler
  background-image none
  border-color transparent
  color $navbar-dark-color
  padding .5rem
  //margin-right -.5rem

.navbar .page-actions
  margin-left auto

.navbar__right
  margin-left auto
  margin-right -.5rem

.navbar-brand
  text-transform uppercase
  margin-right $spacer * 2

.navbar-nav .nav-item
  // override bootstrap default margin
  & + .nav-item
    margin-left $spacer * 1

.navbar-untoggleable
  flex-direction row
  flex-wrap nowrap
  display flex
  .navbar-nav
    flex-direction row;
    .nav-link
      padding-right .5rem
      padding-left .5rem
  > .container
    display flex
    flex-wrap nowrap
    align-items center


@media (max-width: $grid-breakpoints.sm - 1)
  .navbar-collapse
    // reset spacing between items
    .navbar-nav .nav-item
      margin-left 0

  .navbar__right
    margin-right 0


.navbar__level-up
  padding-left .8rem !important
  padding-right .8rem !important
  margin-left -.8rem
  margin-right .7rem // -.7rem + 2 rem - .5rem

//
// Alternate navigation. Shown when `navbar__m-secondary` modifier is added
//
.navbar-primary
  .navbar-inner
    opacity 1
    transition opacity .3s linear

.navbar-alt
  top -($nav-panel-height)
  background-color transparent !important
  transition top .001s linear .3s
  .navbar-inner
    opacity 0
    transition opacity .3s linear

.navbar-alt .hidden-nav-alt
  display none !important

.page-head .hidden-page-head
  display none !important

.navbar__m-secondary
  .navbar-collapse
    display none  // hide expanded menu
  &.navbar-primary .navbar-inner
    opacity 0
  &.navbar-alt
    top 0px
    transition top .001s linear
    .navbar-inner
      opacity 1

.navbar-alt__title
  padding .425rem 1rem .425rem 0
  shortable()

.navbar-alt .btn
  opacity .5


// Fix for dropdown positioning in alt navbar inside toolbars
// (in forum, blogs, dialogs); bootstrap requires .navbar-nav class which
// which don't always have, https://github.com/twbs/bootstrap/issues/23479
//
.navbar-alt .page-actions .dropdown-menu-right
  right 0
  left auto


//
// Alternate header (progress bar instead of a brand).
// Shown when `navbar__m-progress` modifier is added
//
.navbar-progress
  display none

.navbar__m-progress
  .navbar-brand
    display none

  .navbar-progress
    display block
