@import "nodeca.core/client/common/_variables"


.navbar
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.05)

.navbar-nav li a:after
  position absolute
  left 0
  right 0
  bottom 0
  height 2px
  content ''
  background-color grayLighter
  opacity 0
  transition opacity .3s ease

.navbar-nav li.active a:after
.navbar-nav li:hover a:after
  opacity 1

//
// Alternative navigation. Shown when `navbar__m-secondary` modifier added
//
.navbar-primary
  opacity 1
  transition opacity .5s ease

.navbar-alt
  position absolute;
  left 0
  right 0
  top -60px
  background-color #eee
  opacity 0
  transition opacity .5s ease, top 0s ease .5s

.navbar__m-secondary
  .navbar-collapse
    display none  // hide expanded menu
  .navbar-primary
    opacity 0
  .navbar-alt
    opacity 1
    top 0px
    transition opacity .5s ease


.navbar-alt__title
  shortable()
  font-size 18px
  padding 12px 5px

//
// Buttons in navbar
//

.nav-alt__btn
  display inline-block
  position relative
  margin-top 8px
  margin-bottom 8px

.nav-alt__btn + .nav-alt__btn
  margin-left 5px
