ul.breadcrumbs
  - each item in widgets.breadcrumbs
    // each item has fields:
    //   text   (String)  - link text
    //   route  (String)  - routing rule (optional). Ex: "forum.thread.show".
    //   params (Object)  - routing params (optional). See routing rules in config.
    li
      - if (!!item.route)
        // link
        a(href=link_to(item.route, item.params))= item.text
      - else
        // text only 
        #{item.text}
