ul.breadcrumbs
  - each item in widgets.breadcrumbs
    li
      - if (item.length === 3)
        a(href=link_to(item[1], item[2]))= item[0]
      - else if (item.length === 2)
        a(href=link_to(item[1], {}))= item[0]
      - else
        #{item[0]}
