ul.breadcrumbs
  - each item in widgets.breadcrumbs
    // each item has fields:
    //   text   (String)  - link text
    //   route  (String)  - routing rule is optional
    //   params (Object)  - routing rule params is optional
    li
      - item.params = item.params || {}
      - if (!!item.route)
        // link
        a(href=link_to(item.route, item.params))= item.text
      - else
        // only text
        #{item.text}
