ul.breadcrumbs
  - each item in widgets.breadcrumbs
    // each item has fields:
    //   value     (String)  - text
    //   [o]route  (String)  - routing rule
    //   [o]params (Object)  - routing rule params 
    li
      - if (!!item.params)
        a(href=link_to(item.route, item.params))= item.value
      - else if (!!item.route)
        a(href=link_to(item.route, {}))= item.value
      - else
        #{item.value}
