//- Generates nested list for timeline

mixin timeline_scope(scope)
  - var metaline;
  li
    span.timeline-period #{scope.elapsed.total}ms 
    | - #{scope.message} 
    - if (scope.elapsed.missed > 0)
      | [missed #{scope.elapsed.missed}ms] 
    - metaline = JSON.stringify(scope.meta);
    - if (metaline !== '{}')
      | #{metaline}

    - if (scope.childs.length)
      mixin timeline_items(scope.childs)

mixin timeline_items(scopes)
  ul
    - each scope in scopes
      mixin timeline_scope(scope)

#debug_timeline
  mixin timeline_items(widgets.puncher_stats)
