
//- Helper to inject data into <HEAD>
//- takes info from env.response.data.head

//- http://validator.w3.org  recommendation
meta(charset='UTF-8')

- if (head)
  - if (head.title)
    title #{head.title}
  //- description
  - if (head.desc)
    meta(name='description', content=head.desc)
  //- keywords
  - if (head.keywords)
    meta(name='description', content=head.keywords)
