ul.nav
  - each item in menus.common.navbar
    - var route_ns = head.route.split('.').shift(), item_ns = item.to.split('.').shift();
    - if (route_ns === item_ns)
      li(data-api3-namespace=item_ns, class='active'): a(href=item.link)= t(item.title)
    - else
      li(data-api3-namespace=item_ns): a(href=item.link)= t(item.title)
