ul.nav
  - each item in menus.common.navbar
    - if (head.namespace === item.namespace)
      li(data-api3-namespace=item.namespace, class='active'): a(href=item.link)= t(item.title)
    - else
      li(data-api3-namespace=item.namespace): a(href=item.link)= t(item.title)
