ul.nav
  - each item in menus.common.navbar
    - if (head.route === item.to)
      li(data-api3-route=item.to, class='active'): a(href=item.link)= t(item.title)
    - else
      li(data-api3-route=item.to): a(href=item.link)= t(item.title)
