// Page header block (under breadcrubmbs): title + description
//

@import "nodeca.core/client/common/_variables"

.page-head
  max-width 700px
  margin-bottom 10px

.page-head__descr
    font-size 12px
    color grayLighter
    margin-top -(baseLineHeight/2)
    margin-bottom baseLineHeight*0.75
