// Page header block (under breadcrubmbs): title + description
//

@import "nodeca.core/client/common/_variables"

.page-head
  max-width 700px
  margin-bottom baseLineHeight

.page-head__title
  margin 0
  font-weight normal
  font-size 30px

.page-head__descr
  font-size 12px
  color grayLighter
  margin 5px 0 0 10px
