// Page header block (under breadcrubmbs): title + description
//

@import "nodeca.core/client/common/_variables"

.page-head
  max-width 700px
  margin-bottom 20px

.page-head__title
  line-height 100%
  margin 0  

.page-head__descr
  font-size 12px
  line-height (baseLineHeight*3/4)
  color grayLighter
  margin (baseLineHeight/2) 0 0 0
