#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      h1.page-head__title= self.head.title

    - self.add_raw_data('setting_schemas', self.setting_schemas);
    - self.add_raw_data('setting_values',  self.setting_values);

    form.form-horizontal(data-bind="submit: $root.submit", style="display: none")
      // ko foreach: $root.categoryKeys
      fieldset
        legend(data-bind="text: $root.categoryNames[$data]")
        // ko foreach: $root.categorySettings[$data]
        .row.mb-3
          label.col-form-label.col-md-3(data-bind="text: localizedName, attr: { 'for': id }")
          .controls.col-md-6
            // ko if: 'string' === type
            input.form-control(type="text", data-bind="value: value, valueUpdate: 'keyup', attr: { id: id }")
            // /ko

            // ko if: 'number' === type
            input.form-control(type="number", data-bind="value: value, valueUpdate: 'keyup', attr: { id: id }")
            // /ko

            // ko if: 'boolean' === type
            .switch
              input(type="checkbox", data-bind="checked: value, attr: { id: id }")
              label.form-label(data-yes=self.t('setting.yes'), data-no=self.t('setting.no'), data-bind="attr: { 'for': id }"): i
            // /ko

            // ko if: 'dropdown' === type
            select.form-control.form-select(data-bind="options: valueOptions, optionsText: 'title', optionsValue: 'value', value: value, attr: { id: id }")
            // /ko

            // ko if: 'combobox' === type
            select.form-control(multiple, size="10", data-bind="options: valueOptions, optionsText: 'title', optionsValue: 'value', selectedOptions: value, attr: { id: id }")
            // /ko

            // ko if: 'multiline' === type
            textarea.form-control(data-bind="value: value, valueUpdate: 'keyup', attr: { id: id }")
            // /ko

            // ko if: localizedHelp
            p.form-text.small.text-muted(data-bind="text: localizedHelp")
            // /ko
        // /ko

      // /ko

      .row.mb-3
        .col-md-9.ml-md-auto
          .form-actions
            button.btn.btn-primary(type="submit", data-bind="enable: $root.isDirty")= self.t('save')
