.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h4.modal-title= self.t('title')
        button.btn-close(type='button', tabindex='-1', data-bs-dismiss='modal')
      .modal-body
        .location-show-dlg__map-container
          .location-show-dlg__map
