@import "nodeca.core/client/common/_variables"


.nav-horiz
  display none
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.05)

.nav-horiz-on .nav-horiz
  display block


// Show navbar dropdowns on hover, instead of click
//
@media (min-width: gridFloatBreakpoint)
  .nav-horiz__hoverable
    .dropdown:hover > .dropdown-menu
      height auto
      opacity 1

    // - hack `display` to make opacity work
    .dropdown > .dropdown-menu
      display block
      height 0
      overflow hidden
      opacity 0
      transition opacity 0.3s ease
