@import "nodeca.core/client/common/_variables"


.nav-horiz
  display none
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.05)

.nav-horiz-on .nav-horiz
  display block

.navbar-nav li a:after
  position absolute
  left 0
  right 0
  bottom 0
  height 2px
  content ''
  background-color grayLighter
  opacity 0
  transition opacity .3s ease

.navbar-nav li.active a:after
.navbar-nav li:hover a:after
  opacity 1

// Show secondary navbar if and only if m-secondary modifier is present
.navbar
  .navbar__secondary
    display none

.navbar__m-secondary
  .navbar__primary
    display none

  .navbar__secondary
    display block

// Show navbar dropdowns on hover, instead of click
//
@media (min-width: gridFloatBreakpoint)
  .nav-horiz__hoverable
    .dropdown:hover > .dropdown-menu
      height auto
      opacity 1

    // - hack `display` to make opacity work
    .dropdown > .dropdown-menu
      display block
      height 0
      overflow hidden
      opacity 0
      transition opacity 0.3s ease
