.notification.alert.alert-dismissible.fade(
  class='notification-' + self.style
)
  button.btn-close.notification-close-default(type='button' data-bs-dismiss='alert' aria-label='Close')
  button.btn-close.btn-close-white.notification-close-white(type='button' data-bs-dismiss='alert' aria-label='Close')
  .notification__text!= self.message
