//- Close button differs from one on frontend,
//- to minimize custom fonts use. Be careful,
//- don't override this template.
.notification.alert.alert-dismissible.fade(
  class='notification-' + self.style
)
  button.close(type='button' data-dismiss='alert' aria-label='Close')
    span(aria-hidden='true') &times;
  .notification__text!= self.message
