@import "nodeca.core/client/common/_variables"

// this rule stretch background on short pages
html
body
  height 100%


body
  min-width 200px
  // Always show vertical scroll, to avoid small horizontal
  // jitter on change between short and long pages.
  overflow-y scroll

.layout__container
  max-width pageMaxWidth


// Tweak offsets & background for vertical vavigation
//
.nav-vert-on
  .layout__container
    min-height 100%
    padding-left 0
    background-color white

  .layout__content
    padding-top (gridGutterWidth / 2)
    padding-left (gridGutterWidth / 2)
    padding-right (gridGutterWidth / 2)
    margin-left navPanelWidth

body.nav-vert-on
  background-color lighten(grayLightest, 30%)


// Floating buttun to scroll page to top
//
a.layout-scroll-top
  display none
  position fixed
  right 10px
  bottom 10px
  width 40px
  height 40px
  border-radius 20px
  background-color #f4f4f4
  color grayLighter
  font-size 16px
  z-index 10
  &:focus
    outline none
  &:hover
    color grayLight
  &:before
    margin-right 0
    line-height 36px
    width 100%

.layout-scroll-top__active .layout-scroll-top
  display block

// hide scrolltop when vertical navbar used,
// because it already has such feature.
.nav-vert-on .layout-scroll-top
  display none


// Debug output block at page bottom
//
.debug
  margin-top baseLineHeight
  padding (baseLineHeight/2) 20px 0
  background-color #fbfbf8
  border 1px solid #eee
  border 1px solid rgba(0,0,0,.05)
  box-shadow 0 -2px 2px rgba(0,0,0,.05)
  font-family sansWideFontFamily
  font-size 12px
  color #888


// "No JS" message styles
//
.nojs
.nocookies
  display none
  left 50%
  width 500px
  margin-left -250px
  text-align center
  position absolute
  top 90px
  font-size 36px
  font-weight bold
  line-height 1.5

.no-js .nojs
.no-cookies .nocookies
  display block
