@import "nodeca.core/client/common/_variables"


body
  overflow-y scroll
  min-width 200px

// Fix responsive menu elements
@media (max-width: 979px)

  // update search icon's offset
  .navbar-search
    .icon-search
      top 16px
      left 23px

  // remove active item underline
  .navbar .nav .active
    &:before
      display none
