// Popup with link for cnotent restore-notice


.restore-notice
  position fixed
  left 50%
  top 200px
  animation-name fadeInUp

.restore-notice__inner
a.restore-notice__inner
  position relative
  left -50%

  background-color #666
  border-radius 20px
  color #fff
  padding 10px 20px
  font-weight bold
  text-decoration none
  box-shadow 0 0 2px 2px #fff

.restore-notice.off
  display none

.deleted .restore-notice.off
  display block
