/**
 *= require ./src/css/nodeca-codes
 **/

@font-face {
  font-family: 'nodeca';
  src: url('$$ asset_url("nodeca.core/client/lib-admin/icons/src/font/nodeca.eot") $$');
  src: url('$$ asset_url("nodeca.core/client/lib-admin/icons/src/font/nodeca.eot") $$'?#iefix) format('embedded-opentype'),
       url('$$ asset_url("nodeca.core/client/lib-admin/icons/src/font/nodeca.woff") $$') format('woff'),
       url('$$ asset_url("nodeca.core/client/lib-admin/icons/src/font/nodeca.ttf") $$') format('truetype'),
       url('$$ asset_url("nodeca.core/client/lib-admin/icons/src/font/nodeca.svg") $$'#nodeca) format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  font-family: "nodeca";
  speak: none;
  /*text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);*/

  display: inline-block;
  width: 1em;
  text-align: center;
  line-height: 1em;
  position: relative;

  font-style: normal !important;
  font-weight: normal !important;
}

.icon-space-after:before {
  margin-right: .3em;
}

.icon-space-before {
  margin-left: .3em;
}

.icon-dimmed:before {
  opacity: 0.7;
}

.icon-lg:before {
  font-size: 120%;
  top: 1px;
}
