@import "nodeca.core/client/common/_variables"


// Page footer styles
//
.page-footer
  margin-top 50px
  border-top 1px solid grayLightest
  padding-top 10px

.page-footer-nav
  margin 0
  padding 0
  > li
    margin-right 1em
    display block
    float left
    > a
      display block
      padding 4px 0
  .dropdown-toggle .caret
    margin-top 8px
    margin-left 2px
    opacity .3

.copyright
  font-size 12px
  opacity .7
