footer.container
  .page-footer
    ul.page-footer-nav.clearfix
      li.page-footer-nav__item: a(href='#') About
      li.page-footer-nav__item: a(href='#') Contacts
      li.page-footer-nav__item: a(href='#') Terms
      li.page-footer-nav__item: a(href='#') Help

      li.page-footer-nav__item.dropup
        a.dropdown-toggle(href='#',data-toggle='dropdown') Language
          span.caret
        ul.dropdown-menu
          each locale in self.locales
            li
              a(href='#',
                data-on-click='common.set_language',
                data-locale=locale)= self.t('language.' + locale)

    p.page-footer__copyright
      | Powered by 
      a(href='#') Nodeca
      | , social platform by 
      a(href='#') RC Design
