.modal.fade(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-body= self.message
      .modal-footer
        button(type='button' data-dismiss='modal').btn.btn-default= self.t('cancel')
        button(type='button' data-on-click='admin.core.blocks.confirm:ok').btn.btn-danger= self.t('ok')
