@import "nodeca.core/client/common/_variables"


.nav-vert__panel
  width navPanelWidth
  position fixed
  z-index 1100
  top 0
  bottom 0
  background-color lighten(grayLightest, 60%)
  display none

.nav-vert-on .nav-vert__panel
  display block

.nav-vert__panel-inner
  display table
  height 100%
  width 100%

.nav-vert__panel-row
  display table-row

.nav-vert__btn
  width navPanelWidth
  height navPanelWidth
  display table-cell
  vertical-align middle
  text-align center
  font-size 24px
  color grayLight
  border-bottom 1px solid grayLightest
  // cleanup for labels
  font-weight normal
  margin 0
  cursor pointer
  &:focus
    outline 0 none
    color grayLight
  &:hover
    color grayLight

.nav-vert__btn-last
  border-bottom 0 none

.nav-vert__btn-flex
  height 100%

.nav-vert__btn-icon
  &:before
    margin-right 0
    text-shadow none


.nav-vert__overlay
  position fixed
  z-index 1090
  top 0
  bottom 0
  width 100%
  max-width pageMaxWidth
  left -200%
  overflow-x hidden

.nav-vert__overlay-bg
  cursor default
  display block
  position absolute
  height 100%
  width 100%
  border 0
  background-color black
  opacity 0
  transition: opacity .25s ease-out


.nav-vert__menu
  position absolute
  height 100%
  min-width 150px
  margin-left navPanelWidth
  background-color #fcfcfc
  left -300px
  transition left .25s ease-out
  box-sizing 0 0 10px grayDark
  // override bootstrap defaults
  .navbar-default
    background-color inherit

.nav-vert__menu-item
  line-height 30px
  font-size 16px

a.nav-vert__menu-link
  color gray

.nav-vert__menu-active
  .nav-vert__overlay
    left auto
  .nav-vert__overlay-bg
    opacity 0.5
  .nav-vert__menu
    left 0


.icon-scroll-down
  display none

.nav-vert__scrollback-active
  .icon-scroll-down
    display inline
  .icon-scroll-up
    display none
