// Quote style definitions

@import "nodeca.core/client/common/_variables"


.quote
  background-color lighten($body-bg-secondary, 50%)
  border-radius .125rem
  //border-left .1875rem solid $decorator-color
  //border-left .1875rem solid lighten($body-color, 80%)
  border-left .25rem solid lighten($body-color-secondary, 60%)
  padding: 1rem
  margin-left .5rem

.quote__title
  font-size $font-size-sm
  margin-top -.5rem
  margin-right -.5px
  padding .5rem 0

.quote__author
  font-style normal

.quote__author-avatar
  width 18px
  height 18px
  margin-right .375rem
  border-radius 2px

.quote__controls
  margin-top -.1875rem
  margin-right -.375rem
  .btn
    background-color transparent
    margin-left 0

.quote__collapse
  display none

.quote__ref-local
  display none

.quote__ref-local
.quote__ref-outer
  opacity .8
  color inherit

.quote__m-expanded
.quote__m-expanded > .quote__title > .quote__controls
  & > .quote__expand
    display none
  & > .quote__collapse
    display inline-block

.quote__m-local > .quote__title > .quote__controls
  & > .quote__ref-outer
    display none
  & > .quote__ref-local
    display inline-block

.quote__content > p:last-child
    margin-bottom 0
