$white = white
$black = black
$gray-100 = #f8f9fa
$gray-200 = #e9ecef
$gray-300 = #dee2e6
$gray-400 = #ced4da
$gray-500 = #adb5bd
$gray-600 = #868e96
$gray-700 = #495057
$gray-800 = #343a40
$gray-900 = #212529

$h1-font-size = 2.5rem
$h2-font-size = 2rem
$h3-font-size = 1.75rem
$h4-font-size = 1.5rem
$h5-font-size = 1.25rem
$h6-font-size = 1rem

$border-width = 1px
$grid-gutter-width = 30px
$input-border-color = rgba(0, 0, 0, 0.15)
$input-btn-border-width = $border-width
$line-height-base = 1.5
$spacer = 1rem
$font-size-base = 1rem
$font-size-lg = 1.25rem
$font-size-sm = 0.875rem
$font-size-xs = 0.75rem
$input-bg = $white
$dropdown-border-color = rgba($black, 0.15)
$dropdown-box-shadow = 0 0.5rem 1rem rgba($black, 0.175)
$dropdown-link-hover-bg = $gray-100
$border-radius-sm = 0.2rem
$btn-border-radius-sm = $border-radius-sm
$dropdown-bg = $white

$dropdown-link-color = $gray-900
$dropdown-link-hover-color = darken($gray-900, 5%)

$input-btn-line-height = 1.25
$input-btn-padding-y-sm = 0.25rem
$input-btn-padding-x-sm = 0.5rem
$input-disabled-bg = $gray-200
$body-color = $gray-900
$navbar-padding-y = $spacer / 2
$navbar-padding-x = $spacer
