
@import "./_bootstrap"

$brand-primary        = #4a7fb5
$brand-success        = #a4cf5b
$brand-danger         = #de5e5d

$body-color           = #2b2b2b

$navbar-padding-y     = $spacer / 4 * 3

//
// Additional vars (not from bootstrap)
//
$body-color-secondary = #aeb9bf
$body-bg-secondary    = #f8f8f8

$nav-panel-height     = 62px
$page-max-width       = 940px

$breadcrumbs-color    = #b0b0b0
$breadcrumbs-bg       = #f7f7f7
$breadcrumbs-height   = 2.125rem

$deleted-bg           = #f7f7f7


// Default bs4 sans is condenced. That's not convenient in some cases.
// Here is "wide" alternative
$font-family-sans-serif-wide = Verdana, "Geneva CY", "DejaVu Sans", sans-serif;

// borders, separators
$decorator-color      = #e3edf6

$navbar-dark-color        = rgba(248,248,248,1)
$navbar-dark-hover-color  = rgba(248,248,248,0.75)

$link-color = $brand-primary

$editor-bg            = #eee;

////////////////////////////////////////////////////////////////////////////////
// Helpers

shortable()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

fix-bottom()
  & > p:last-child
  & > ul:last-child
  & > ol:last-child
    margin-bottom 0rem


////////////////////////////////////////////////////////////////////////////////
// For the old design (soon to be removed)

// Font stacks
// http://www.xiper.net/collect/html-and-css-tricks/typographics/safe-fonts-part3.html
// http://www.ampsoft.net/webdesign-l/WindowsMacFonts.html
// http://cssfontstack.com/

sansFontFamily  = "Helvetica Neue", "Helvetica CY", Arial, sans-serif;
sansWideFontFamily  = Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
serifFontFamily = Georgia, "Times New Roman", "Times CY", serif;
monoFontFamily  = Monaco, Consolas, "Lucida Console", monospace;

linkColor       = #679
linkColorHover  = #036

$grid-breakpoints = { xs: 0, sm: 544px, md: 768px, lg: 992px, xl: 1200px }
