
@import "./_bootstrap"

//
// Additional vars (not from bootstrap)
//
$brand-primary        = #4a7fb5
$brand-success        = #74b52d
$brand-danger         = #de5e5d

//$body-color-secondary = #aeb9bf
$body-color-secondary = #8f9fa7
$body-bg-secondary    = #f8f8f8

$nav-panel-height     = 56px
$page-max-width       = 940px

$breadcrumbs-color    = #909090
$breadcrumbs-bg       = #f7f7f7
$breadcrumbs-height   = 2.25rem

$deleted-bg           = #f7f7f7

$btn-secondary-bg     = white
$btn-secondary-border = #cccccc
$brand-warning        = #f0ad4e
$state-warning-bg     = #fcf8e3
$btn-secondary-color  = $gray-800


// Default bs4 sans is condenced. That's not convenient in some cases.
// Here is "wide" alternative
$font-family-sans-serif-wide = Verdana, "Geneva CY", "DejaVu Sans", sans-serif;

// borders, separators
$decorator-color         = #dee7f0
// default bullet-style decorators
$decorator-aside-color   = #e3edf6


$navbar-dark-color       = rgba(white,.5)
$navbar-dark-hover-color = rgba(white,.75)


$link-color           = $brand-primary

$editor-bg            = #eee;


$grid-breakpoints = { xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px }


////////////////////////////////////////////////////////////////////////////////
// Helpers

shortable()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

fix-bottom()
  & > p:last-child
  & > ul:last-child
  & > ol:last-child
    margin-bottom 0rem


.js .js-hide
  display none !important
  position absolute !important

.no-js .nojs-hide
  display none !important
  position absolute !important
