/**
 *= require frontend/bootstrap_custom
 *= require frontend/icons
 *= require_self
 *= require styles
 **/


// Buttons tweaks
//
.btn-icon-only
  min-width 25px
  &:before
    margin 0


// fix for links without href (with JS handlers)
//
a
  cursor pointer
