//
// Settings
//


@import "nodeca.core/client/admin/core/_variables"


// Dim `inherited` setting state
//
.control-group.inherited
  .control-label
    opacity .4
  .control-value
    opacity .4

// Dim `forced` settings state
//
.control-group.forced
  .switch
    box-shadow: 0 0 0 1px gray inset
  .control-label
    font-weight: bold

// Add hover to settings line
.control-group-hover
  &:hover
    background-color row-hover
