//- Toolbar with buttons, containing major page actions

.page-actions > .btn
  margin-left .4rem

.page-actions__dropdown
  position relative
  display inline-block

.page-actions > .btn + .page-actions__dropdown
  margin-left .4rem
