ul.breadcrumbs
  li: a(href='#') Breadcrumbs
  li: a(href='#') Should
  li: a(href='#') Be
  li: a(href='#') Here

h1 Settings

ul
  -each category_name in self.categories
    li
      a(href=self.link_to('admin.settings.global.edit', {id:category_name}))= self.t('admin.settings.' + category_name + '_category.title')
