ul.breadcrumbs
  li: a(href='#') Breadcrumbs
  li: a(href='#') Should
  li: a(href='#') Be
  li: a(href='#') Here

h1 Settings

ul
  -each group_name in self.groups
    li
      a(href=self.link_to('admin.settings.global.group.show', {id:group_name}))= self.t('admin.settings.' + group_name + '_group.title')
