- if (self.menu)
  ul#navbar_menu.nav
    - each item in self.menu.navbar
      - var ns = self.apiPath.split('.').shift(), item_ns = item.to.split('.').shift();
      - if (ns === item_ns)
        li(data-api3-path=item_ns, class='active'): a(href=item.link)= self.t(item.title)
      - else
        li(data-api3-path=item_ns): a(href=item.link)= self.t(item.title)

    //- Temporary github link
    li: a(href='https://github.com/nodeca/nodeca',target='_blank') Github

