//- need cut base of ns menu path ('admin.menus.navbar')
- var MENU_BASE_NS_LEVEL = 3
//- need cut base of api path ('admin')
- var API_PATH_BASE_NS_LEVEL = 1
- var api_path_tail = self.head.apiPath.split('.').slice(API_PATH_BASE_NS_LEVEL).join('.')


//- Create next menu level
//-
//-   submenus (Array)  - submenus
mixin _create_submenus(submenus)
  - var item_path_tail
  - var li_class
  ul.nav.nav-list
    - each item in submenus
      - item_path_tail= item.title.split('.').slice(MENU_BASE_NS_LEVEL).join('.')
      
      //- highlight item if it part of api path
      - if (api_path_tail.indexOf(item_path_tail) > -1 || self.head.apiPath === item.to)
        li_class = 'active'
      -else
        li_class = ''

      li(class=li_class)
        - if (item.to)
          a(href=item.link)= self.t(item.title)
        - else
          | #{self.t(item.title)}
          
        - if (item.childs && item.childs.length)
          mixin _create_submenus(item.childs)


//- Create admin top menu
//-
//-   menus (Object)  - menu container nodeca.config.menus.<menu_name>
mixin sidebar_menu(menus)
  - var item_path_tail
    - each item in menus
      - var item_path_tail= item.title.split('.').slice(MENU_BASE_NS_LEVEL).join('.')
      //- display item only for current app
      - if (api_path_tail.indexOf(item_path_tail) > -1)
        - if (item.childs)
          mixin _create_submenus(item.childs)
