@import "nodeca.core/client/common/_variables"

.emoji-autocomplete
  position absolute
  z-index 100
  background #ffffff
  display none
  border 1px solid grayLighter
  border-radius 4px

  &.emoji-autocomplete__m-visible
    display block

.emoji-autocomplete__list
  list-style none
  padding 0
  margin 0

.emoji-autocomplete-item
  font-size 16px
  padding 0 5px
  height 1.5em
  line-height 1.5em
  border-radius 4px
  background none
  color gray
  transition .2s ease

  &.emoji-autocomplete-item__m-selected, &:hover
    color grayDark
    background-color grayLightest

.emoji-autocomplete-item__link
  color inherit

  &:hover
    text-decoration none

.emoji-autocomplete-item__link-text
  padding-left 3px
  color inherit

.emoji-autocomplete-item__search
  font-weight bold
