.control-group.capcha-image
  .controls
    span#recaptcha_image
    div.capcha-reload
      a(tabindex=-1, href="javascript:Recaptcha.reload();Recaptcha.focus_response_field();")= self.t('common.recaptcha.change_image')

- self.errors = self.errors || {}
- var _recaptcha_class = ('recaptcha' in self.errors) ? 'error' : ''
- var _recaptcha_help = (self.errors.recaptcha) ? self.errors.recaptcha : self.t('common.recaptcha.captcha_help')

.control-group(class=_recaptcha_class)
  label.control-label(for='recaptcha_response_field')= self.t('common.recaptcha.captcha')
  .controls
    .row-fluid
      input.span12(id="recaptcha_response_field", name="recaptcha_response_field", type='text')
      span.help-block #{_recaptcha_help}

script
  yepnope({
    load: "http://www.google.com/recaptcha/api/js/recaptcha_ajax.js",
    complete: function () {
      Recaptcha.create("#{self.runtime.recaptcha.public_key}", 'recaptcha_div', {
        theme: 'custom'
      });
    }
  });
