mdedit:

  default:
    bold: true
    italic: true
    separator1:
      priority: 30
    link: true
    image: true
    attach: true
    separator2:
      priority: 70
    ol: true
    ul: true
    emoji: true
    separator3:
      priority: 100
    help: true

  buttons:

    separator:
      css_class: mdedit-toolbar__sep
      separator: true

    bold:
      css_class: icon icon-bold
      tooltip: "@mdedit.toolbar.bold"
      bind_key:
        win: 'Ctrl-B'
        mac: 'Cmd-B'
      command: cmdBold
      priority: 10
      depend: emphasis

    italic:
      css_class: icon icon-italic
      tooltip: "@mdedit.toolbar.italic"
      bind_key:
        win: 'Ctrl-I'
        mac: 'Cmd-I'
      command: cmdItalic
      priority: 20
      depend: emphasis

    link:
      css_class: icon icon-link
      tooltip: "@mdedit.toolbar.link"
      bind_key:
        win: 'Ctrl-L'
        mac: 'Cmd-L'
      command: cmdLink
      priority: 40
      depend: links

    image:
      css_class: icon icon-picture
      tooltip: "@mdedit.toolbar.image"
      bind_key:
        win: 'Ctrl-G'
        mac: 'Cmd-G'
      command: cmdImage
      priority: 50
      depend: images

    attach:
      css_class: icon icon-attach
      tooltip: "@mdedit.toolbar.attach"
      command: cmdAttach
      priority: 60
      depend: attachments

    ol:
      css_class: icon icon-list-numbered
      tooltip: "@mdedit.toolbar.ol"
      bind_key:
        win: 'Ctrl-O'
        mac: 'Cmd-O'
      command: cmdOl
      priority: 80
      depend: lists

    ul:
      css_class: icon icon-list-bullet
      tooltip: "@mdedit.toolbar.ul"
      bind_key:
        win: 'Ctrl-U'
        mac: 'Cmd-U'
      command: cmdUl
      priority: 90
      depend: lists

    emoji:
      css_class: icon icon-track-normal # TODO: update icon list and set icon-smile
      tooltip: "@mdedit.toolbar.emoji"
      command: cmdEmoji
      priority: 100
      depend: emoji

    help:
      css_class: icon icon-help
      tooltip: "@mdedit.toolbar.help"
      bind_key:
        win: 'F1'
        mac: 'F1'
      command: cmdHelp
      priority: 110
