env:
  node: false
  browser: true

globals:
  $: false
  N: false
  module: false
  exports: true
  require: false
  t: false
  NodecaLoader: false

rules:
  strict:               [ 2, function ]
  spaced-line-comment:  0
