/**
 *= require frontend/bootstrap_custom
 *= require frontend/icons
 *= require_self
 *= require styles
 **/


// Buttons tweaks
//
.btn-icon-only
  &:before
    margin 0

.btn-primary.btn-icon-only
  &:before
    opacity .9
