// Common markup styles for all messages

@import "nodeca.core/client/common/_variables"

.markup
  font-family sansWideFontFamily

  img
    max-width 100%
    border-radius 2px

  a
    color red
    border-bottom 1px dotted
    text-decoration none
    &:hover
      border-bottom 1px solid
    &:focus
      border-bottom none
      outline thin dotted
      outline-offset -1px
