// Common markup styles for all messages

@import "nodeca.core/client/common/_variables"

.markup
  font-family sansWideFontFamily

  // External images
  .image
    max-width 100%
    display inline-block
    border-radius 2px
    position relative

    & > img
      max-width 100%
      border-radius 2px
      position absolute

  .image__spacer
    display block

  // Attachments in text
  .thumb__image
    border-radius 2px

  a.link
  a.ez-inline
    color red
    border-bottom 1px dotted
    text-decoration none
    &:hover
      border-bottom 1px solid
    &:focus
      border-bottom none
      outline thin dotted
      outline-offset -1px

  pre code
    white-space unset

  .ez-block
    margin-bottom (baseLineHeight / 2)
    border-radius 2px

.forum-post__tail
  // Attachments thumbnails
  .thumb__image
    border-radius 2px
