// Common markup styles for all messages

@import "nodeca.core/client/common/_variables"

.markup
  // Avoid layout width break by long strings
  overflow auto

  // Fix for overflow to not cut attachments shadows
  padding-left 3px
  margin-left -3px
  padding-right 3px
  margin-right -3px

  //font-family $font-family-sans-serif-wide

  // External images
  .image
    max-width 100%
    display inline-block
    border-radius 2px
    position relative
    // protect from hidden images
    min-width 10px
    min-height 10px
    background-color #ccc

    & > img
      max-width 100%
      border-radius 2px
      position absolute

  .image__spacer
    display block

  // Attachments in text
  .thumb__image
    border-radius 2px

  a.link
  a.ez-inline
    color #744
    border-bottom 1px dotted
    text-decoration none
    &:hover
      border-bottom 1px solid
    &:focus
      border-bottom none
      outline thin dotted
      outline-offset -1px

  pre code
    white-space unset

  .ez-block
    margin-bottom (baseLineHeight / 2)
    border-radius 2px

  .emoji
    font-size 120%
    line-height 100%
    vertical-align middle
    color #990

.markup-tail
  // Attachments thumbnails
  .thumb__image
    border-radius 2px
