/**
 *= require frontend/bootstrap_custom/bootstrap_admin
 *= require backend/icons/icons
 *= require vendor/jquery-ui/themes/flick/jquery-ui
 *= require vendor/jquery-ui/themes/flick/jquery.ui.theme
 *= require_self
 *= require styles
 **/


@import "../_variables"


//
// Bootstrap overrides.
//


h1
  font-weight normal


// form help-texts tweak (smaller & lighter)
//
.form-horizontal input + .help-block
.form-horizontal select + .help-block
.form-horizontal textarea + .help-block
  color grayLight
  font-size 90%
  margin-top 5px


// fix for links without href (with JS handlers)
//
a
  cursor pointer
