/**
 *= require backend/bootstrap_custom
 *= require backend/icons
 *= require backend/css/typeahead
 *= require vendor/jquery-ui/themes/flick/jquery-ui
 *= require vendor/jquery-ui/themes/flick/jquery.ui.theme
 *= require_self
 *= require styles
 **/


@import "../_variables"


// fix for links without href (with JS handlers)
//
a
  cursor pointer
