#content
  != self.partial('@admin.blocks.sidebar_menu', { apiPath: self.get_apipath(), menu: self.menus.admin })

  .main
    != self.partial('@admin.blocks.breadcrumbs', { apiPath: self.get_apipath(), menu: self.menus.admin, path: self.blocks.breadcrumbs });

    ul.breadcrumbs
      li: a(href='#') Breadcrumbs
      li: a(href='#') Should
      li: a(href='#') Be
      li: a(href='#') Here

    h1 Hello World
    p= self.now
