@import "nodeca.core/client/common/_variables"

.btn + .btn
  margin-left .4rem

.btn-square
  padding-left 0 !important
  padding-right 0 !important
  min-width 2.375em // 38px

.btn-sm.btn-square
  min-width 2.0em // 28px

.btn-xs.btn-square
  min-width 1.917em // 23px


.dropdown-toggle.btn-square:after
  margin-left 0

.dropdown-toggle.icon:after
  border none
  width 0
  margin 0

// Fix bottom margin when h1..h6 used
.card-header
  margin-bottom 0 !important

.form-group small
  display inline-block
  line-height 1.3em
  margin-top .5em

.nav-tabs
  border-bottom unset !important

  .nav-link
    border none !important
    border-radius 0 !important
    padding .5em .5em !important
    border-bottom 3px solid transparent !important

    &.active
      border-bottom 3px solid $brand-primary !important

  .nav-item + .nav-item
    margin-left .7em !important
