@import "nodeca.core/client/common/_variables"

.btn + .btn
  margin-left .4rem

.btn-square
  padding-left 0 !important
  padding-right 0 !important
  min-width 2.6em

.dropdown-toggle.btn-square:after
  margin-left 0

.dropdown-toggle.icon:after
  border none
  width 0
  margin 0

// Fix bottom margin when h1..h6 used
.card-header
  margin-bottom 0 !important

.form-group small
  display inline-block
  line-height 1.3em
  margin-top .5em
