//- need cut base of ns menu path ('admin.menus.navbar')
- var MENU_BASE_NS_LEVEL = 3
//- need cut base of api path ('admin')
- var API_PATH_BASE_NS_LEVEL = 1
- var api_path_tail = self.apiPath.split('.').slice(API_PATH_BASE_NS_LEVEL).join('.')
- var last_element


//- fetch next breadcrumb level
//-
//-   menu (Array)   - menu
//-   result (Array) - breadcrumbs container
mixin _fetch_breadcrumbs(menu, result)
  - var item_path_tail
  - each item in menu
    - item_path_tail= item.title.split('.').slice(MENU_BASE_NS_LEVEL).join('.')

    - if (api_path_tail.indexOf(item_path_tail) > -1)
      // If ACP item without link, then take link from first chaild
      - if (!item.to)
        item_link = item.childs[0].to
      - else
        item_link = item.to

      - result.push({ 
      -   text: self.t(item.title),
      -   route: item_link,
      -   tail: item_path_tail
      - })

      - if (item.childs)
        mixin _fetch_breadcrumbs(item.childs, result)


#breadcrumbs
  - if (self.menu && self.menu.navbar && !self.path)
    - self.path = []
    mixin _fetch_breadcrumbs(self.menu.navbar, self.path)
    - if (self.path.length)
      //- if current api path != last breadcrumb element
      //- then add page title
      - if (self.path.slice(-1)[0].tail !== api_path_tail)
        - self.path.push({ text: self.head.title });

  - if (self.path && self.path.length)
    - last_element = self.path.pop()
    ul.breadcrumb
      - each item in self.path
        li
          - if (item.route)
            a(href=self.link_to(item.route))= item.text
          - else
            | #{item.text}
          span.divider: /
      li.active
        | #{last_element.text}
