@import "nodeca.core/client/common/_variables"


.page-progress__item + .page-progress__item
  margin-left 0 !important

.page-progress__button-first
  position relative // For hover underline
  padding-left .8rem
  padding-right .5rem
  transition color .3s ease

.page-progress__button-last
  position relative // For hover underline
  padding-left .5rem
  padding-right .8rem
  margin-right 1.2rem
  transition color .3s ease

.content-top .page-progress__button-first,
.content-bottom .page-progress__button-last,
.page-progress__m-disabled
  color $navbar-dark-color - 30% !important
  cursor default

.page-progress__info
  min-width 6rem

.page-progress__label
  text-align center

.page-progress__label-total
  color $navbar-dark-color - 30%
  &:before
    content '/'
    margin-left .2em
    margin-right .2em

.page-progress__bar
  position absolute
  bottom .25rem
  left 0
  right 0
  background-color $navbar-dark-color - 30%

.page-progress__bar-fill
  background-color $navbar-dark-color - 10%
  height .0625rem
  transition width .3s


.page-progress__menu
  min-width 150px
  padding .5rem .7rem .7rem

//
// Highlight on hover
//
.page-progress__button-first
.page-progress__button-last
.page-progress__info
  &:after
    left 0 !important
    right 0 !important
    // Override bootstrap caret
    margin-left 0
    border none

.page-progress__button-first
  &:after
    left .3rem !important
.page-progress__button-last
  &:after
    right .3rem !important
