@import "nodeca.core/client/common/_variables"


.page-progress__item + .page-progress__item
  margin-left 0 !important

.page-progress__button-first
.page-progress__button-last
  padding-left .5rem
  padding-right .5rem
  position relative // For hover underline
.page-progress__button-last
  margin-right 1.5rem

.page-progress__info
  min-width 6rem

.page-progress__label
  text-align center

.page-progress__label-total
  color $navbar-dark-color - 30%
  &:before
    content '/'
    margin-left .2em
    margin-right .2em

.page-progress__bar
  position absolute
  bottom .25rem
  left 0
  right 0
  background-color $navbar-dark-color - 30%

.page-progress__bar-fill
  background-color $navbar-dark-color - 10%
  height .0625rem
  transition width .3s


.page-progress__menu
  min-width 150px
  padding 7px 10px

//
// Highlight on hover
//
a.page-progress__button-first
a.page-progress__button-last
a.page-progress__info
  &:after
    left 0 !important
    right 0 !important
    // Override bootstrap caret
    margin-left 0
    border none
