.spoiler__title
  cursor pointer

.spoiler__content
  display none

// writing explicit paths to the content here, because
// ".spoiler__m-open .spoiler__content" selector would match
// a closed spoiler inside of an open one (same with icons below)
//
.spoiler__m-open > .spoiler__title > .spoiler__content
  display inline

.spoiler__icon-collapse
  display none

.spoiler__m-open > .spoiler__title > .spoiler__icon-collapse
  display inline

.spoiler__m-open > .spoiler__title > .spoiler__icon-expand
  display none
