// Use default github style

@import "highlight.js/styles/github.css"
@import "nodeca.core/client/common/_variables"

// Rollback padding to one defined in twbs
.hljs
  padding 9.5px
  background-color $quote-bg-color
  border-radius .125rem
  border 1px solid $quote-border-color
