//- NOTE: ReCaptcha markup is hidden by default.
//- You must control it's visibility manually via Knockout bindings.

.form-group.recaptcha-control(data-bind='visible: visible, css: { "has-danger": hasError() }' style="display: none")
  label(for="recaptcha_response_field")= self.t('captcha')
  .recaptcha-container
    #recaptcha_div

  // ko if: message
  small(data-bind='text: message, css: hasError() ? "text-danger" : "text-muted"')
  // /ko
