//- NOTE: ReCaptcha markup is hidden by default. It will be showed after
//- invoking of 'common.blocks.recaptcha.create' Wire handler.

.recaptcha.control-group.captcha-image(style="display: none")
  .controls
    span#recaptcha_image
    div.captcha-reload
      a(tabindex=-1, data-on-click="common.blocks.recaptcha.update") #{self.t('change_image')}

.recaptcha.control_group.control-group(data-bind="css: css", style="display: none")
  label.control-label(for='recaptcha_response_field') #{self.t('captcha')}
  .controls
    .row-fluid
      input.span12(id="recaptcha_response_field", name="recaptcha_response_field", type='text')
      span.help-block #{self.t('captcha_help')}
