//- NOTE: ReCaptcha markup is hidden by default.
//- You must control it's visibility manually via Knockout bindings.

.recaptcha-control.mb-3(data-bind='visible: visible', style="display: none")
  label(for="recaptcha_response_field")= self.t('captcha')
  .recaptcha-container
    #recaptcha_div

  // ko if: error
  span.text-danger(data-bind='text: error')
  // /ko
