//- Generates nested list for timeline

mixin timeline_scope(scope)
  li.debug-timeline__item
    span.debug-timeline__period= self.t('total', scope.elapsed.total.toFixed(2))
    |= ' - ' + scope.message
    if scope.elapsed.missed > 0
      |= self.t('total', scope.elapsed.missed.toFixed(2)
    if Object.keys(scope.meta).length
      |= ' ' + JSON.stringify(scope.meta);

    if scope.childs.length
      mixin timeline_items(scope.childs)

mixin timeline_items(scopes)
  ul.debug-timeline__scope
    each scope in scopes
      mixin timeline_scope(scope)

#debug_timeline.debug-timeline
  mixin timeline_items(self.stats)
