// timeline block with page request stats

@import "nodeca.core/client/common/_variables"

.debug-timeline > .debug-timeline__scope
  margin-left 0
  padding-left 0

.debug-timeline__scope
  list-style none
  padding-left 20px
//  & > ul
//    margin-left 0

.debug-timeline__period
  color grayDark
