.navbar-fixed-top
  position static
  margin-bottom baseLineHeight

.navbar .btn-navbar > span
  display block
  width 15px
  height 2px
  border-top 6px double navbarText
  border-bottom 2px solid navbarText