.navbar-fixed-top
  position static
  margin-bottom baseLineHeight

// Responsive menu button (3 lines) with pure css
.navbar .btn-navbar > span
  display block
  width 20px
  height 2px
  border-top 6px double navbarText
  border-bottom 2px solid navbarText
  margin 1px 0

// Brand text
.navbar .brand
  //text-shadow 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.3)
  //color black
  color gray
  font-weight bold
  font-family sansWideFontFamily
  //padding-right 0
  //float right

// Buttons tweaks
.btn
  font-family sansWideFontFamily
  background-image none
  transition background-color 0.5s ease
  &:hover
    transition background-color 0.5s ease
.btn-icon-only
  min-width 40px
  &:before
    margin 0
.btn-primary
  font-weight bold
.btn.disabled, .btn[disabled]
  opacity .4