.breadcrumbs
  white-space nowrap
  margin: 0 0 (baseLineHeight/2)

  a
    color grayLight

  li
    display inline-block
    margin-right .5em 
 
    &:after
      content '/' 
      margin-left .5em
      color grayLighter