.footer
  margin-top 20px
  border-top 1px solid grayLightest
  padding-top 10px
  font-family sansWideFontFamily

.footer-nav
  margin 0

  > li
    margin-right 1em
    display block
    float left

    > a
      display block
      padding 4px 0

  .dropdown-toggle .caret
    margin-top 7px
    margin-left 1px


.copyright
  font-size 12px
  opacity .7
