//
// Horizontal comma-separated list
//
.hlist
  margin 0
  > li
    display inline-block
    &:after
      content ','
      margin-right .5em
    &:last-child:after
      content " "

// the same, but for definitions

.def-hlist
    margin 0
    > dt
      font-weight: normal
      display inline-block
    > dd
      display inline-block
      &:after
        content ","
      &:last-child:after
        content ""

//
// Universal container for page info
//
.page-summary
  margin-top 20px
  padding: 20px
  background-color #fbfbfb
  border-radius 4px
  border 1px solid #eee
  border 1px solid rgba(0,0,0,.05)
  box-shadow 0 0px 2px rgba(0,0,0,.05)
  color grayLight
  font-family sansWideFontFamily
  > dt
    font-weight normal
    color grayDark
    font-size 13px
  > dd + dt
    margin-top 10px
  > dd
    font-size 12px
    &.small
      font-size 11px


//
// Page footer styles
//
.page-footer
  margin-top 20px
  border-top 1px solid grayLightest
  padding-top 10px
  font-family sansWideFontFamily

.page-footer-nav
  margin 0
  > li
    margin-right 1em
    display block
    float left
    > a
      display block
      padding 4px 0
  .dropdown-toggle .caret
    margin-top 7px
    margin-left 1px

.copyright
  font-size 12px
  opacity .7

//
// Page title & description
//

.page-head
  max-width 700px
  > p
    font-size 12px
    line-height 1.3em
    margin-bottom 1.3em
    color grayLighter

//
// Toolbar with buttons
//

.controlbar
  padding 10px 15px 5px
  background-color #fbfbfb
  border-radius 4px
  border 1px solid #eee
  border 1px solid rgba(0,0,0,.05)
  box-shadow 0 0px 2px rgba(0,0,0,.05)
  color grayLight
  font-family sansWideFontFamily

//
// Pagination
//

.pagination
  display: inline-block
  font-size 12px
  padding 5px 0
  > li
    display: inline-block
    > a
      display inline-block
      transition background-color 0.3s ease
      border-radius 2px
      color grayDark
      padding 0 9px
      line-height 20px
      &:hover
        background-color grayLighter
      &.more
        padding: 0 3px;
      &.current
        background-color grayDark
        color white
        font-weight bold
        text-decoration none
        box-shadow 0 0 1px gray
        &:hover
          background-color gray          
    > .dropdown-menu
      min-width:0
      padding 7px 10px
.btn-group > .pagination
  float left
  margin 0


//
// Debug area
//

.debug
  margin-top 20px
  padding-top 20px
  background-color #fbfbf8  
  border 1px solid #eee
  border 1px solid rgba(0,0,0,.05)
  box-shadow 0 -2px 2px rgba(0,0,0,.05)
  font-family sansWideFontFamily
  font-size 12px
  color #888

#debug_timeline
  ul
    list-style none
  & > ul
    margin-left 0

.timeline-period
  color #444
