black           = #000
grayDarker      = #222
grayDark        = #444
gray            = #666
grayLight       = #999
grayLighter     = #ccc
grayLightest    = #eee
white           = #fff


baseFontSize    = 14px
baseLineHeight  = 20px
