form.microedit(data-on-submit='common.blocks.microedit:submit')
  .microedit__input-container
    .input-group
      input.microedit__input.form-control(type='text' name='value' value=self.value tabindex='1')
      span.input-group-btn
        button.btn.btn-primary(type='submit' tabindex='2')=self.t('ok')
    small.microedit__error.text-danger
