form.microedit.form-inline(data-on-submit='common.blocks.microedit:submit')
  button.btn.btn-primary.pull-xs-right(type='submit' tabindex='2')=self.t('ok')
  .microedit__input-container
    input.microedit__input.form-control(type='text' name='value' value=self.value tabindex='1')
    small.microedit__error.text-danger
