@import "nodeca.core/client/admin/core/_variables"

// Sidebar
//
.sidebar-menu
  position fixed
  top 60px
  width 180px
  padding 10px 0
  margin 0
  list-style none
  background-color #f8f8f8
  border-radius 4px

.sidebar-menu__item._active
  background-color grayLightest

a.sidebar-menu__link
  display block
  padding 5px 15px
  color gray
  &:hover
    text-decoration none
    color grayDarker
