@import "nodeca.core/client/admin/core/_variables"

// Sidebar
//
.sidebar-menu
  position fixed
  top 70px
  width 180px
  padding 10px 0
  margin 0
  list-style none
  background-color #f8f8f8
  border-radius 4px

a.sidebar-menu__link
  color gray

.sidebar-menu__item._active .sidebar-menu__link
.sidebar-menu__item._active .sidebar-menu__link:hover
  background-color grayLightest - 5%