@import "nodeca.core/client/admin/core/_variables"

// Sidebar
//
.sidebar-menu
  position fixed
  top 70px
  width 180px
  padding .5rem 0
  border-radius 4px
  background-color $gray-lightest

  .nav-link
    display block
    padding .5rem 1rem
    color $gray

  .nav-item._active
    background-color $gray-lighter
