#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      h1.page-head__title= self.head.title

    each block in self.blocks
      != self.partial('@admin.core.rebuild.blocks.' + block.name, block)
